.container {
  width: 100%;
  max-width: 480px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #3a53ba;
  background: #3a53ba;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
    margin-bottom: 6px;
    color: #fff;
    font-size: 24px;
  }
}

.row {
  display: flex;
  flex-direction: column;

  input {
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid #cfd5dd;
  }

  p {
    font-size: 12px;
    color: red;
    margin-top: 4px;
  }
}

.submitBtn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: #fff;
  color: #000;
}

.successMsg {
  display: grid;
  gap: 20px;
  align-content: center;
  text-align: left;
  font-size: 18px;
  color: #fff;
  white-space: normal;
}
