@import 'tailwindcss';

@font-face {
  font-family: 'ATRotisSemiSans-ExtraBold';
  src: url('../public/font/ATRotisSemiSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ATRotisSemiSans-Light';
  src: url('../public/font/ATRotisSemiSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #3a53ba;
    --color-black-faded: rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 768px) {
  .section1Wrapper {
    grid-template-columns: 1fr; /* single column on small screens */
  }
}

.section1Left img {
  transform: translate(-100px, 175px) scale(1.5);
  transform-origin: center;
}

/* Small screens*/
@media (max-width: 1024px) {
  .section1Left img {
    transform: translate(-10px, 100px) scale(1.75);
  }
}

/* Extra small screens*/
@media (max-width: 850px) {
  .section1Left img {
    transform: translate(20px, 50px) scale(1.75);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.topBarWrapper {
  position: relative;
  top: 0;
  z-index: 1000;
}

.contentWrapper {
  max-width: 100% !important;
  border: 1px solid var(--color-black-faded);
  margin-left: clamp(16px, 8%, 131px);
  margin-right: clamp(16px, 8%, 131px);
  padding-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); /* soft shadow */
}

.sectionContentWrapper {
  padding-top: clamp(16px, 10%, 131px);
}

.sectionContentWrapperWithBg {
  padding-top: clamp(16px, 28%, 350px);
}

.section1Wrapper {
  justify-items: center;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem; /* spacing between columns */
  align-items: center;
}

.section1 {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 60px 40px;
  background: #214aa1;
  color: white;
  gap: 60px;
}

.section1Left {
  width: auto;
}

.section1Left img {
  height: auto;
  margin-left: -275px; /* shift image to the left beyond normal grid */
}

.section1Right {
  max-width: auto;
}

.section1Right h1 {
  font-size: 48px;
  font-weight: 700;
}

.blue-text h3,
.blue-text h4 {
  font-size: 20px;
  font-weight: 700;
}

.blue-text h3 {
  color: #01f2f2;
}

.blue-text h4 {
  color: #040dbf;
}

.gold-text h3 {
  color: #f2df79;
  font-size: 20px;
}

.description {
  width: 100%; /* takes full width of parent */
  white-space: normal; /* allow wrapping */
  word-wrap: break-word; /* break long words if needed */
  overflow-wrap: break-word;
  line-height: 1.5;
  color: white;
  font-size: 15px;
}

.description.gold {
  color: #f2df79;
}

.description.black {
  color: black;
}

.download-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.tags {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  color: white;
}

.risk-text {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 16px;
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'ATRotisSemiSans', sans-serif;
}

/* 1. Title/body text color:
dark blue: #01f2f2
light blue: #040dbf
gold: #f2df79
orange: #F37406
2. Background color: #3A53BA
3. main title: ATRotisSemiSans-ExtraBold
4. subtitle: ATRotisSemiSans-Light */
