.topBar {
  width: 100%;
  position: fixed;
  background-color: #0b3254;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 0 1rem 0 1rem;
  margin: 0 auto !important;
  height: 80px;
}

.topBarContent {
  padding: 0 131px;
}

@media screen and (max-width: 1024px) {
  .topBar {
    height: auto;
    display: block;
  }
}

/* topBar  background color: #112A4D */
